body {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 0;
	min-height: 100vh;
	background-color: lightgrey;
	font-family: sans-serif;
}

#btn {
	font-size: 70px;
	background-color: rebeccapurple;
	color: white;
	border: 3px solid black;
	border-radius: 10px;
	transition: transform 0.2s linear;
	padding: 0;
	text-align: center;
}

h1 {
	position: fixed;
	top: 0px;
	font-size: 40px;
}

.popup-container {
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	display: none;
}

.popup-container.active {
	display: flex;
}

.popup {
	border: 4px solid black;
	border-radius: 15px;
	background-color: pink;
	padding: 20px;
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
	position: relative;
}

#refresh {
	border: none;
	background-color: black;
	color: pink;
	font-size: 25px;
	border: 1px solid pink;
	padding: 10px;
}

#refresh:active {
	background-color: pink;
	color: black;
	border: 1px solid black;
}

h2 {
	font-size: 40px;
}

p {
	font-size: 25px;
}
